@import "tailwindcss";

@theme {
  --color-primary: #C5A880;
  --color-background: #F5F5F7;
  --color-surface: #FFFFFF;
  --color-text-primary: #1E1E1E;
  --color-text-secondary: #71717A;
  --color-success: #10B981;
  --color-danger: #EF4444;

  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-inter);
  }
}
